.button, .button__upload {
  height: 46px;
  width: 176px;
  background-color: #fe6e62;
  position: relative;
  border-radius: 23px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .button .button__text, .button__upload .button__text {
    height: 21px;
    width: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
    text-align: center; }

.button__upload {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 61px;
  padding-right: 45px; }

input[type="file"] {
  display: none; }

.button--next {
  position: absolute;
  right: 0;
  padding-right: 15px; }

.button--back {
  position: absolute;
  left: 17px;
  top: 0;
  cursor: pointer; }

.button--plus {
  position: absolute;
  top: 14px;
  left: 17px; }
