.dot-indicator-container {
  display: flex;
  justify-content: center;
  flex-flow: row; }

.dot-indicator, .dot-indicator-on, .dot-indicator-off {
  height: 7px;
  width: 7px;
  border-radius: 5px;
  margin-right: 10px; }

.dot-indicator-on {
  background-color: #fd7163; }

.dot-indicator-off {
  background-color: #9b9b9b; }
