@import "../../styles/mixins";

$dot-indicator-on: #fd7163;
$dot-indicator-off: #9b9b9b;

.dot-indicator-container {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.dot-indicator {
  @include size(7px,7px);
  border-radius: 5px;
  margin-right: 10px;
}
.dot-indicator-on {
 @extend .dot-indicator;
  background-color: $dot-indicator-on;
}
.dot-indicator-off {
 @extend .dot-indicator;
  background-color: $dot-indicator-off;
}