.photo {
  width: 100%; }

.photo__header {
  display: flex;
  flex-flow: row;
  position: relative;
  width: 100%;
  justify-content: space-between; }

.photo__icon__group {
  display: flex;
  justify-content: space-between;
  width: 103px;
  position: absolute;
  right: 30px; }

.photo__icon__circle {
  height: 44px;
  width: 44px;
  border-radius: 23px;
  background-color: #fe6e62;
  cursor: pointer; }
  .photo__icon__circle img {
    padding-left: 14px;
    padding-top: 14px; }

.photo__marked {
  text-align: center; }
  .photo__marked .image__photo {
    height: 100%;
    width: auto; }

.photo__text {
  color: #fff; }
