.upload__zip__title, .upload__zip__text, .upload__zip__user__name {
  padding-left: 31px;
  padding-right: 27px; }

.upload__zip {
  position: relative;
  height: 389px;
  margin-top: 50px; }

.upload__zip__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #4a4a4a; }

.upload__zip__text {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  width: 264px;
  line-height: normal;
  letter-spacing: 1px;
  color: #4a4a4a; }

.upload__zip__user__name {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: left;
  color: #383f46; }

.upload__zip__file {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin-top: 60px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  opacity: 0.3;
  border-radius: 10px;
  border: 1px dashed #383f46; }

.upload__zip__file--visible {
  visibility: visible; }

.upload__zip__file--hidden {
  visibility: hidden; }

.upload__zip__cancel__icon {
  position: absolute;
  top: -12px;
  right: -8px;
  cursor: pointer;
  z-index: 1; }

.file__name {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #383f46;
  margin-top: 15px; }

.upload__zip__bottom__container {
  position: absolute;
  width: 100%;
  text-align: center; }
