.card__popup, .card__popup__gallery {
  height: 620px;
  width: 343px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: #fff;
  padding-top: 33px;
  border-radius: 31px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25); }

.card__popup__gallery {
  padding-top: 21px;
  padding-bottom: 62px;
  padding-left: 28px;
  padding-right: 28px;
  height: auto;
  width: 1153px; }

.card__popup__header {
  position: relative; }

.card__popup__back__icon {
  position: absolute;
  top: -5px;
  left: 29px;
  cursor: pointer; }
