.card__popup, .card__popup__gallery {
  height: 620px;
  width: 343px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: #fff;
  padding-top: 33px;
  border-radius: 31px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25); }

.card__popup__gallery {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.card__popup__header {
  position: relative; }

.card__popup__back__icon {
  position: absolute;
  top: -5px;
  left: 29px;
  cursor: pointer; }
