.header {
  height: 70px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px; }

.header__logo {
  position: relative;
  width: 250px;
  margin-left: 32px; }

.header__logo__text {
  color: #fff;
  position: absolute;
  font-size: 12px;
  top: 33px;
  left: 12px; }

.header__splitter {
  border-right: 1px solid #fff; }

.header__woman {
  position: absolute;
  right: 0;
  top: 0; }

ul li {
  display: inline-block;
  padding-right: 65px;
  font-weight: bold;
  padding-left: 30px; }
  ul li:not(:last-child) {
    border-right: 1px solid #fff; }
  ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
