@import "styles/colors";
@import "styles/mixins";

.card__popup {
  @include size(620px, 343px);
  @include margin(20px, null, 100px, null);
  background-color: $white;
  padding-top: 33px;
  border-radius: 31px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.card__popup__gallery {
  @extend .card__popup;
  @include padding(21px,62px,28px,28px);
  @include size(auto, 1153px);
  margin-left: auto;
  margin-right: auto;
}

.card__popup__header {
  position: relative;
  height: 20px;
}
