.gallery-container {
  position: relative;
  width: 100%; }

.gallery-head {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(56, 63, 70, 0.25); }

.gallery-icon-group {
  display: flex;
  justify-content: space-between;
  width: 103px;
  position: absolute;
  right: 30px; }

.gallery-icon-circle {
  height: 44px;
  width: 44px;
  border-radius: 23px;
  background-color: #fe6e62;
  cursor: pointer; }
  .gallery-icon-circle img {
    padding-left: 14px;
    padding-top: 14px; }

.gallery-container-text {
  position: absolute;
  top: 25px;
  left: 69px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

.gallery-text, .username-text, .originalfilename-text {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #4a4a4a; }

.gallery-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px; }

.gallery-photo {
  cursor: pointer; }

.spinner {
  margin-left: auto;
  margin-right: auto; }
