.gallery__head__userName, .gallery__head__originalFileName {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #4a4a4a; }

.gallery__image {
  position: relative;
  width: 100%; }

.gallery__head {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(56, 63, 70, 0.25); }

.icon__group {
  display: flex;
  justify-content: space-between;
  width: 103px;
  position: absolute;
  right: 30px; }

.icon__group__circle {
  height: 44px;
  width: 44px;
  border-radius: 23px;
  background-color: #fe6e62;
  cursor: pointer; }
  .icon__group__circle img {
    padding-left: 14px;
    padding-top: 14px; }

.gallery__head__text {
  position: absolute;
  top: 25px;
  left: 69px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

.gallery__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px; }

.gallery__content__photo {
  margin-top: 20px;
  position: relative;
  cursor: pointer; }

.spinner {
  margin-left: auto;
  margin-right: auto; }
