@import "styles/colors";
@import "styles/mixins";

%gallery__text__shared {
  @include font-property(24px, bold, normal, normal);
  letter-spacing: 2px;
  color: $shadow-grey;
}
.gallery {
  width: 100%;
  height: inherit;
}

.gallery__image {
  position: relative;
  width: 100%;
}

.gallery__head {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(56, 63, 70, 0.25);
}

.icon__group {
  display: flex;
  justify-content: space-between;
  width: 103px;
  position: absolute;
  right: 30px;
}

.icon__group__circle {
  @include size(44px, 44px);
  border-radius: 23px;
  background-color: $salomon-color;
  cursor: pointer;
  img {
    padding-left: 14px;
    padding-top: 14px;
  }
}

.gallery__head__text {
  position: absolute;
  top: 25px;
  left: 69px;
  color: $shadow-grey;
  @include font-property(12px, 300, normal, normal);
}

.gallery__head__userName {
  @extend %gallery__text__shared;
}

.gallery__head__originalFileName {
  @extend %gallery__text__shared;
}

.gallery__content {
  @include flex-property(flex, row wrap, flex-start, null);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.gallery__photo {
  @include flex-property(flex, column, null, center);
  @include size(auto, 200px);
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  border: solid 1px rgba(56, 63, 70, 0.25);
}

.gallery__photo__name {
  @include padding(9px, 11px, 17px, 17px);
}

