@import "../../styles/colors";
@import "../../styles/mixins";

%gallery__text__shared {
  @include font-property(24px, bold, normal, normal);

  letter-spacing: 2px;
  color: $shadow-grey;
}

.gallery__image {
  position: relative;
  width: 100%;
}

.gallery__head {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(56, 63, 70, 0.25);
}

.icon__group {
  display: flex;
  justify-content: space-between;
  width: 103px;
  position: absolute;
  right: 30px;
}

.icon__group__circle {
  @include size(44px, 44px);
  border-radius: 23px;
  background-color: $salomon-color;
  cursor: pointer;
  img {
    padding-left: 14px;
    padding-top: 14px;
  }
}

.gallery__head__text {
  position: absolute;
  top: 25px;
  left: 69px;
  color: $shadow-grey;
  @include font-property(12px, 300, normal, normal);
}

.gallery__head__userName {
  @extend %gallery__text__shared;
}

.gallery__head__originalFileName {
  @extend %gallery__text__shared;
}

.gallery__content {
  @include flex-property(flex, row wrap, space-between, null);
  @include padding(null, 28px, 28px, 28px);
}

.gallery__content__photo {
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}
